<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<title>Login page</title>
</head>
<body>

<div class="container text-center pt-5">
    <h1>Welcome to the login page</h1>
    <div class="pt-5">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" name="username">
        <br />

        <label for="Password">Password</label>
        <input type="password" placeholder="Enter password" name="password">
        <br />

        <a href="{% url 'submit' %}">Submit</a>
    </div>

</div>
</body>

</html>